
@{
    ViewData["Title"] = "DeleteClientBook";
}

<h1>Delete ClientBook PK</h1>

<form action="/ClientBook/FormDeleteClientBook" method="post">
    <lable>
        Permission key
    </lable>
    <input type="text" name="stringIdRow"/>
    <br>
    <br>

    <input type="submit" value="DeletePKey" />
</form>