
@{
    ViewData["Title"] = "IndexClientBook";
}

<h1>IndexClientBook</h1>

<a class="nav-link text-dark" asp-area="" asp-controller="ClientBook" asp-action="TableClientBook">TableClientBook(Вывести таблицу выданных книг)</a>
<br>
<br>
<a class="nav-link text-dark" asp-area="" asp-controller="ClientBook" asp-action="GetBook">GetBook(Выдать книгу)</a>
<br>
<br>
<a class="nav-link text-dark" asp-area="" asp-controller="ClientBook" asp-action="SetBook">SetBook(Вернуть книгу)</a>
<br>
<br>
<a class="nav-link text-dark" asp-area="" asp-controller="ClientBook" asp-action="DeleteClientBook">DeleteClientBook(Удалить вручную)</a>
<br>
<br>
