
@{
    ViewData["Title"] = "DeleteClient";
}

<h1>DeleteClient</h1>

<form action="/Client/FormDeleteClient" method="post">
    <!--<p>
        PKey Book
    </p>
    <input type="number" name="intIdClient" placeholder="ПКлюч клиента"/>-->
    <p>
        Name
    </p>
    <input type="text" name="strLogin" placeholder="Логин клиента"/>
    <!--<input type="checkbox" name="checkboxData" />-->
    <!--<input type="number" name="textBoxIntData" />-->

    <input type="submit" value="DeleteClient" />
    <p>
    </p>
    <p>
    </p>
</form>

