
@model IEnumerable<web_app_03.Models.ClientModel>


@{
    ViewData["Title"] = "IndexClient";
}

<h1>IndexClient</h1>

    <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="TableClient">TableClient(Вывести таблицу клиентов)</a>
    <br>
    <br>
    <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="AddClient">AddClient(Добавить клиента в базу)</a>
    <br>
    <br>
    <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="EditClient">EditClient(Редактировать данные клиента)</a>
    <br>
    <br>
    <a class="nav-link text-dark" asp-area="" asp-controller="Client" asp-action="DeleteClient">DeleteClient(Удалить клиента из базы)</a>
    <br>
    <br>



